.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10;
    background-color: transparent;
    border: solid 1px var(--skill-card-trace);
    padding: 20px;
    border-radius: 20px;

}

.quadro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-medium);
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.quadro svg {
    width: 30px;
    height: 30px;
    color: white;
}

.nome {
    font-weight: bold;
}