.bgWrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 0;
}

.block {
    position: absolute;
    width: 300px;
    height: 1200px;
}

.block1 {
    background: var(--light);
    bottom: -650px;
    right: 0px;
    transform: rotate(65deg);
    z-index: 1;
}

.block2 {
    background: var(--dark);
    bottom: -640px;
    right: 110px;
    transform: rotate(75deg);
    z-index: 0;
}

.skills {
    position: relative;
    height: calc(100vh - 50px);
    width: 100%;
    padding: clamp(10px, 10vh, 30px);

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    background-color: var(--bg1);
    color: var(--text1);
    box-sizing: border-box;
    text-align: center;

    overflow: hidden;
    z-index: 5;
    scroll-margin-top: 70px;
}

.skills h1 {
    font-size: clamp(25px, 2.5vw, 28px);
}

.skills h2 {
    margin-top: 10px;
    font-size: clamp(14px, 1.6vw, 18px);
    opacity: 0.9;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: clamp(15px, 3vw, 30px);
    z-index: 5;
}

.linha1,
.linha2 {
    display: flex;
    flex-direction: row;

    width: clamp(250px, 70vw, 1000px);
    gap: clamp(10px, 3vw, 30px);

    align-items: center;
    justify-content: center;
}

.box {
    width: clamp(60px, 8vw, 100px);
    aspect-ratio: 1 / 1;

    background-color: white;
    border-radius: clamp(10px, 2vw, 20px);
    border: 2px solid var(--principal);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease-in-out;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--text1);
    cursor: pointer;
}

.box svg {
    color: var(--principal);
    width: clamp(28px, 4vw, 60px);
    height: clamp(28px, 4vw, 60px);
}

@media (max-width: 480px) {
    .linha1,
    .linha2 {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: 20px;
    }

    .box {
        width: 60px;
        aspect-ratio: 1 / 1;
        border-radius: 15px;
    }

    .box svg {
        width: 45px;
        height: 45px;
    }
}