.projetos {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: clamp(15px, 5vw, 60px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--bg-2);
    color: var(--text-2);
    box-sizing: border-box;

    overflow: hidden;
    scroll-margin-top: 70px;
}

.bgWrapper {
    position: absolute;

    height: 350px;
    width: 800px;

    pointer-events: none;
    z-index: 0;
}

.block {
    position: absolute;
    width: 100px;
    height: 100px;
    background: var(--block-light);
    z-index: 0;
}

.block1 {
    top: 15px;
    left: 0;
}

.block2 {
    bottom: 15px;
    right: 0;
    background: var(--block-dark);
}

@media (max-width: 900px) {
    .bgWrapper {
        height: 270px;
        width: 670px;
    }
}

@media (max-width: 700px) {

    .projetos {
        padding: 50px;
    }

    .bgWrapper {
        height: 100vh;
        width: 100%;
    }

    .block {
        width: 700px;
        height: 200px;
        z-index: 0;
    }

    .block1 {
        top: 20px;
        left: 70vw;
    }
    
    .block2 {
        bottom: 20px;
        right: 70vw;
    }
}
