.projetos {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: clamp(15px, 5vw, 60px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--bg2);
    color: var(--text2);
    box-sizing: border-box;

    overflow: hidden;
    scroll-margin-top: 70px;
}

.projetos h1 {
    color: white;
    font-size: clamp(22px, 3vw, 32px);
    z-index: 1;
}

.bgWrapper {
    position: absolute;

    height: 350px;
    width: 800px;

    pointer-events: none;
    z-index: 0;
}

.block {
    position: absolute;
    width: 100px;
    height: 100px;
    background: var(--light);
    z-index: 0;
}

.block1 {
    top: 15px;
    left: 0;
}

.block2 {
    bottom: -15px;
    right: 0;
    background: var(--dark);
}

.quadro {
    margin: clamp(40px, 8vw, 70px) 0;
    background-color: var(--bg1);

    height: 250px;
    width: 700px;

    text-decoration: none;
    color: var(--text1);

    border-radius: clamp(12px, 2vw, 20px);
    padding: clamp(15px, 3vw, 25px);

    display: flex;
    flex-direction: row;
    gap: clamp(15px, 3vw, 25px);
    align-items: center;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1;
}

@media (max-width: 900px) {
    .quadro {
        height: 170px;
        width: 570px;
    }

    .bgWrapper {
        height: 270px;
        width: 670px;
    }
}

@media (max-width: 700px) {

    .projetos {
        padding: 50px;
    }

    .bgWrapper {
        height: 100vh;
        width: 100%;
    }

    .block {
        width: 700px;
        height: 200px;
        z-index: 0;
    }

    .block1 {
        top: 20px;
        left: 70vw;
    }
    
    .block2 {
        bottom: 20px;
        right: 70vw;
    }

    .quadro {
        flex-direction: column;
        height: auto;
        width: clamp(200px, 70vw, 500px);

        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 20px;
    }

    .quadro img {
        width: clamp(200px, 60vw, 350px);
        height: clamp(170px, 60vw, 250px);
        margin-bottom: 10px;
    }

    .quadro div {
        align-items: center;
        text-align: center;
    }

    .quadro p {
        text-align: center;
    }
}

.quadro:hover {
    color: var(--text1);
    transform: translateY(-6px) scale(1.04);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.445);
}

.quadro img {
    width: clamp(120px, 40vw, 600px);
    height: clamp(80px, 25vw, 200px);
}

.quadro div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quadro p {
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    opacity: 0.9;
    line-height: 1.4;
}

.quadro button {
    margin-top: 15px;
    color: white;
    transition: box-shadow 0.2s ease;
}

.quadro:hover button {
    box-shadow: 0 0 5px var(--button-hover-shadow);
    cursor: pointer;
}